body, html {
    height: 100%;
}
.title-text {
  font-size: 30px;
  margin: 40px 0px;
}
.heading{
  padding-bottom: 15px;
}
/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/neighborhood.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: arial;
}
.hero-header{
  font-size:80px;
}
.hero-paragraph{
  font-size:40px;
}



/* About Section */
.about{
  padding-top: 80px;
}
.agent-photo{
  width:80vh;
}



/* Highlighted Listings */
.listings{
  padding-top:100px;
  text-align:center;
}
.highlight-photo{
  width:300px;
  padding-top: 30px;
}